<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HappyDay.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>87E2F5411C906020003F5D1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87E2F55A1C906021003F5D1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87E2F5651C906021003F5D1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
